<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ariel Mercedes</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/line-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container flex-lg-column">
            <a class="navbar-brand mx-lg-auto mb-lg-4" href="https://www.linkedin.com/in/arielsands/">
                <span class="h3 fw-bold d-block d-lg-none">Mercedes Sands</span>
                <img src="../static/images/profilepic.png" class="d-none d-lg-block rounded-circle" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto flex-lg-column text-lg-center">

                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#work">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- //NAVBAR -->

    <!-- CONTENT WRAPPER -->
    <div id="content-wrapper">

        <!-- HOME -->
        <section id="home" class="full-height px-lg-5">

            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <h1 class="display-4 fw-bold" data-aos="fade-up">I'M A <span class="text-brand">SOFTWARE 
                                ENGINEER</span> IN SAN DIEGO, CA</h1>
                        <p class="lead mt-2 mb-4" data-aos="fade-up" data-aos-delay="300">Hi, my name is Mercedes and I have experience with building backend applications, machine learning projects, and devops.</p>
                        <div data-aos="fade-up" data-aos-delay="600">
                            <a href="#work" class="btn btn-brand me-3">Explore My Work</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- //HOME -->

        <!-- SERVICES -->
        <section id="services" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">SERVICES</h6>
                        <h1>Services That I Provide</h1>
                    </div>
                </div>

                <div class="row gy-4">

                    <div class="col-md-4" data-aos="fade-up">
                        <div class="service p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox rounded-4">
                                <i class="las la-code"></i>
                            </div>
                            <h5 class="mt-4 mb-2">Backend Development</h5>
                            <p>Build projects  for clients creating and maintaining technology at the back end of a website.</p>
                        </div>
                    </div>

                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="service p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox rounded-4">
                                <i class="las la-laptop"></i>
                            </div>
                            <h5 class="mt-4 mb-2">Machine Learning</h5>
                            <p>Build algorithms and analyze data to help improve performance and make predictions.</p>
                            
                        </div>
                    </div>
                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
                        <div class="service p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox rounded-4">
                                <i class="las la-tools"></i>
                            </div>
                            <h5 class="mt-4 mb-2">DevOps</h5>
                            <p>Build, test, and maintain software for speedy development and release of software.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- SERVICES -->

        <!-- WORK -->
        <section id="work" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">PROJECTS</h6>
                        <h1>My Recent Projects</h1>
                    </div>
                </div>

                <div class="row gy-4">

                    <div class="col-md-6" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/heart.jpeg" alt="" height="260px">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>Heart Disease Classification</h4>                               
                                <a href="https://github.com/MercedesSands/end-to-end-heart-disease-classification/blob/main/end-to-end-heart-disease-classification.ipynb" class="link-custom">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/blog.jpg" alt="" height="260px">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>Flask CRUD Blog App</h4>
                                <a href="https://github.com/MercedesSands/social-blog-flask" class="link-custom">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/planets.jpg" alt="" height="260px">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>Node js Earth Like Planets</h4>                               
                                <a href="https://github.com/MercedesSands/planets-nodejs" class="link-custom">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/hackernews.jpg" alt="" height="260px">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>Hacker News Web Scraping</h4>                               
                                <a href=" https://github.com/MercedesSands/hackernews-scraping" class="link-custom">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/farm.jpg" alt="" height="260px">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>Farm Backend App Node js</h4>                               
                                <a href="https://github.com/MercedesSands/node-farm" class="link-custom">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/hangman.jpeg" alt="" height="260px">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>Hangman Python Game</h4>
                                <a href="https://github.com/MercedesSands/hangman" class="link-custom">View</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- ABOUT -->
        <section id="about" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">ABOUT</h6>
                        <h1>My Education & Experience</h1>
                    </div>
                </div>

                <div class="row gy-5">
                    <div class="col-lg-6">

                        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Education</h3>
                        <div class="row gy-4">

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Certificate in Software Engineering</h4>
                                    <p class="text-brand mb-2">Nucamp Coding Bootcamp</p>
                                    <p class="mb-0">Learn how to code from scratch using web design fundamentals with HTML, CSS, JavaScript and understanding the basics of web design. Growing a better understanding of web design with full stack development using Bootstrap, React, React Native, Node js, MongoDB, and Express to create fully functional websites. Then working on the backend of websites by learning backend development with Python, SQL, Flask, Docker, Django, and DevOps that helps gather data.</p>
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Certificate in Python Development</h4>
                                    <p class="text-brand mb-2">Zero to Mastery Academy</p>
                                    <p class="mb-0">Programming Fundamentals, Python Basics, Python Fundamentals, Data Structures, Object Oriented Programming with Python, Functional Programming with Python, Lambdas, Decorators, Generators, Testing in Python, Debugging, Error Handling, Regular Expressions, Comprehensions, Modules, Developer Environments (PyCharm, Jupyter Notebooks, VS Code, Sublime Text), File Processing: Image, CSV, PDFs, Text, Web Development with Python, Machine Learning with Python, Data Science with Python, Automation with Python and Selenium, Scripting with Python, Web Scraping with Python and BeautifulSoup, Image Detection, Data Visualizations, Kaggle, Pandas, NumPy, scikit-learn, Email and SMS with Python, Working with APIs (Twitter Bot, Password Checker, Translator)</p>
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Certificate in Machine Learning and Data Science</h4>
                                    <p class="text-brand mb-2">Zero to Mastery Academy</p>
                                    <p class="mb-0">Data Exploration and Visualizations, Neural Networks and Deep Learning, Model Evaluation and Analysis, Python 3, Tensorflow 2.0, Numpy, Scikit-Learn, Data Visualization with MatPlotLib and Seaborn, Transfer Learning, Image recognition and classification, Train/Test and cross validation, Supervised Learning: Classification, Regression and Time Series, Decision Trees and Random Forests, Ensemble Learning, Hyperparameter Tuning, Using Pandas Data Frames, Use Pandas to handle CSV Files, Deep Learning / Neural Networks with TensorFlow 2.0 and Keras, Using Kaggle and entering Machine Learning competitions, How to clean and prepare your data for analysis, K Nearest Neighbours, Support Vector Machines, Regression analysis (Linear Regression/Polynomial Regression), How Hadoop, Apache Spark, Kafka, and Apache Flink are used, Setting up environment with Conda, MiniConda, and Jupyter Notebooks, Using GPUs with Google Colab</p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6">

                        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Experience</h3>
                        <div class="row gy-4">

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Freelance Engineer</h4>
                                    <p class="text-brand mb-2">mercedessandstech</p>
                                    <p class="mb-0">Build backend applications for websites, build models and analyze data to help improve performance and make predictions, and build, test, and maintain software for speedy development and release of software for clients.</p>
                                </div>
                            </div>
                            </div>

                        </div>

                    </div>

                </div>

            
        </section>
        <!-- //ABOUT -->

        

        <!-- CONTACT -->
        <section id="contact" class="full-height px-lg-5">
            <div class="container">

                <div class="row justify-content-center text-center">
                    <div class="col-lg-8 pb-4" data-aos="fade-up">
                        <h6 class="text-brand">CONTACT</h6>
                        <h1>Interested in working together?
                        </h1>
                    </div>

                    <div class="col-lg-8" data-aos="fade-up" data-aos-delay="300">
                        <form action="https://formsubmit.co/arielmercedestech@gmail.com" method="POST" class="row g-lg-3 gy-3">
                            <div class="form-group col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Enter your name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                            </div>
                            <div class="form-group col-12">
                                <input type="text" name="subject" class="form-control" placeholder="Enter subject" required>
                            </div>
                            <div class="form-group col-12">
                                <textarea name="message" rows="4" class="form-control" placeholder="Enter your message" required></textarea>
                            </div>
                            <div class="form-group col-12 d-grid">
                                <button type="submit" class="btn btn-brand">Contact me</button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </section>
        <!-- //CONTACT -->

        <!-- FOOTER -->
        <footer class="py-5 px-lg-5">
            <div class="container">
                <div class="row gy-4 justify-content-between">
                    <div class="col-auto ms-lg-5 ps-lg-5">
                        <p class="mb-0 ms-lg-5 ps-lg-5">Backend: <a href="https://github.com/MercedesSands/portfolio-website" class="fw-bold">Flask/AWS</a></p>
                    </div>
                    <div class="col-auto">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/arielsands/"><i class="lab la-linkedin"></i></a>
                            <a href="mailto:mercedessandstech1@gmail.com"><i class="las la-at"></i></a>
                            <a href="https://github.com/MercedesSands"><i class="lab la-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //FOOTER -->

    </div>
    <!-- //CONTENT WRAPPER -->



    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/aos.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>